<table class="tabla-cursos">
  <tr class="encabezado">
    <th>ID</th>

    <th>NOMBRE</th>

    <th>DURACIÓN</th>

    <th>NIVEL</th>
  </tr>
  <tr *ngFor="let c of cursos">
    <td>{{ c.id }}</td>

    <td>{{ c.nombre }}</td>

    <td>{{ c.duracion }}</td>

    <td>{{ c.nv }}</td>

    <td>
      <input
        type="button"
        value="enviar"
        [routerLink]="['/modificar']"
        [queryParams]="{ ids: curso.id }"
        (click)="update(c.id)"
      />
    </td>
  </tr>
</table>
<router-outlet></router-outlet>
