<label for="marca">Id: </label>
<input type="number" name="marca" [(ngModel)]="curso.id" /><br />
<label for="color">Nombre: </label>
<input id="string" id="color" name="color" [(ngModel)]="curso.nombre" /><br />
<label for="velocidad">Cantidad: </label>
<input type="number"id="velocidad"name="velocidad" [(ngModel)]="curso.duracion"/><br />
<label for="platos">Tipo: </label><br />
<select name="" id="" [(ngModel)]="curso.nv">
  <option value="Bajo">Bajo</option>
  <option value="Medio">Medio</option>
  <option value="Alto">Alto</option>
</select>
<input type="submit" value="subir" routerLink="" (click)="anadir()" />
